@charset "UTF-8";
/*
Em HTML é id = em CSS é # (só pode 1 elemento)
Em HTML é class = em CSS é . (pode varioas elementos)
*/

body{
background-color: #bcffcb;
font-family: Arial, Helvetica, sans-serif;
}
h1{
color: #0a7c0a;
}
h1#principal{
    text-align: center;
    background-color: #0ca00c;
    color: white;
}
h2{
color: #014201;
}
.basico{
color: #36b836;
}
.intermediario{
color: rgb(240, 240, 67);
}
.avançado{
color: red;
}
.destaque{
    background-color: rgba(255, 255, 0, 0.712);
}

